<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Мой Дневник Целей{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <div class="container">
            <h1>Мой Дневник Целей</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Главная</a></li>
                    <li><a href="{{ url_for('lamp') }}">Советы по планам</a></li>
                    <li><a href="{{ url_for('tplans') }}">Ваши планы</a></li>
                    <li><a href="{{ url_for('fplans') }}">Невыполненное</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
