{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main class="container">
    <section class="hero">
        <header>
            <h1>Добро пожаловать на наш сайт!</h1>
            <p>Здесь вы можете лучше составить свой список задач и планов!</p>
        </header>

        <article class="features">
            <h2>Что вы можете делать:</h2>
            <ul>
                <li>Создавать и управлять своими целями</li>
                <li>Отмечать выполненные задачи</li>
                <li>Анализировать свои успехи</li>
                <li>Получать советы по планированию</li>
            </ul>
        </article>
    </section>
</main>
{% endblock %}
